@import url(http://fonts.googleapis.com/css?family=Open+Sans);

@bg-color: green;

*{
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}

nav li {
  display: inline-block;
  margin: 5px;
  float: right;
}

nav ul {
  margin-right: 10px;
}

#content {
  clear: both;
}

body{
  background-color: @bg-color;
}

